* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "宋体";
}
#wrapper {
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 6px 15px;
  min-width: 800px;
  box-shadow: 2px 2px 15px lightgray;
  border-radius: 7px;
}
#wrapper nav {
  background-color: rgb(248, 245, 245);
  margin-bottom: 10px;
}
#wrapper nav ul {
  list-style-type: none;
  display: block;
}
#wrapper nav #useroptions {
  float: right;
  display: block;
  margin-top: -30px;
}
#wrapper nav #useroptions a {
  text-decoration: none;
  color: black;
}
#wrapper nav #useroptions a:hover {
  text-decoration: underline;
  color: blue;
}
#wrapper nav ul li {
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  line-height: 40px;
}
#wrapper nav ul li a {
  text-decoration: none;
  display: block; /* 扩大超链接范围 */
  color: black;
}
#wrapper nav ul li:hover {
  background-color: lightgreen;
  transition: background-color 0.3s ease;
}
#wrapper nav input[type="search"] {
  padding: 5px 3px 5px 3px;
}
#wrapper nav input[type="submit"] {
  padding: 7px 10px 7px 10px;
  margin: 5px 5px 5px 2px;
  border-radius: 7px;
  border: 1px solid #66c56a;
  color: black;
  transition: background-color 0.1s linear, color 0.1s linear;
}
#wrapper nav input[type="submit"]:hover {
  background-color: #66c56a;
  color: white;
}
#wrapper nav #ser {
  display: block;
  float: right;
}
#wrapper footer {
  margin: 5px 0px 5px 0px;
  text-align: center;
}
#wrapper main {
  float: clear;
  text-align: center;
}
#wrapper #banner {
  margin-bottom: 5px;
}
#wrapper main .items {
  border: 1px solid lightgray;
  width: 49%;
  height: 200px;
  display: inline-block;
  margin-bottom: 10px;
}
#wrapper main .items:hover {
  border: 1px solid red;
  transition: border 1s ease;
}
#wrapper main .items span {
  line-height: 200px;
}
#wrapper main #item_second,
#wrapper main #item_fourth {
  margin-left: 7px;
}
#wrapper footer {
  float: clear;
}