* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "宋体";
}
#wrapper {
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 6px 15px;
  min-width: 800px;
  box-shadow: 2px 2px 15px lightgray;
  border-radius: 7px;
}
#wrapper nav {
  background-color: rgb(248, 245, 245);
  margin-bottom: 15px;
  border-radius: 7px;
}
#wrapper nav ul {
  list-style-type: none;
  display: block;
}
#wrapper nav #useroptions {
  float: right;
  display: block;
  margin-top: -40px;
  background-color: rgb(248, 245, 245);
  border-radius: 7px;
  padding: 5px 0px;
}
#wrapper nav #useroptions a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 7px;
  color: black;
}
#wrapper nav #useroptions a:hover {
  background-color: lightgreen;
}
#wrapper nav ul li {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  line-height: 40px;
}
/* 二级菜单 */
#wrapper nav ul li > ul {
  display: none; 
}
#wrapper nav ul li:hover > ul {
  display: block;
  position: absolute;
  padding-top: 3px;
  z-index: 30;
}
#wrapper nav ul li:hover > ul li {
  display: block;
  background-color: rgb(248, 245, 245);
  border-radius: 0;
}
#wrapper nav ul li:hover > ul li:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#wrapper nav ul li:hover > ul li:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#wrapper nav ul li:hover > ul li:hover {
  background-color: lightgreen;
}
#wrapper nav ul li a {
  text-decoration: none;
  display: block;
  color: black;
}
#wrapper nav ul li:hover {
  background-color: lightgreen;
}
#wrapper nav ul #nowpage > a {
  background-color: gray;
  display: block;
  color: white;
  border-radius: 7px;
}
#wrapper nav #ser {
  display: block;
  float: right;
}
#wrapper nav input[type="search"] {
  padding: 6px 5px;
  margin: 3px 0px;
  border: 1px solid gray;
  border-radius: 3px;
}
#wrapper nav input[type="search"]:focus,
#wrapper nav input[type="search"]:hover {
  border: 1px solid blue;
}
#wrapper nav input[type="submit"] {
  padding: 7px 10px 7px 10px;
  margin: 5px 5px 5px 2px;
  border-radius: 7px;
  border: 1px solid gray;
  color: black;
  transition: background-color 0.1s linear, color 0.1s linear;
}
#wrapper nav input[type="submit"]:hover {
  background-color: blue;
  color: white;
}
#wrapper #banner_link {
  text-decoration: none;
  background-color: rgb(248, 245, 245);
  display: block;
  color: black;
}
#wrapper #banner_box {
  float: clear;
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  height: 350px;
  transition: opacity 0.5s linear;
}
#wrapper #banner_box #banner_image {
  border-radius: 20px;
  box-shadow: 0px 0px 7px gray;
  margin-bottom: 5px;
  margin-right: 20px;
  float: left;
  height: 350px;
}
#wrapper #banner_link {
  transition: box-shadow 0.1s ease;
  border-radius: 20px;
}
#wrapper #banner_link:hover {
  box-shadow: 0px 0px 10px lightcoral;
}
#wrapper #banner_box #banner_description {
  display: block;
}
#wrapper #banner_box #banner_description_header {
  font-size: 2em;
  line-height: 80px;
  font-weight: bold;
}
#wrapper #banner_box #banner_description_content {
  font-size: 1em;
}
#wrapper #banner_box #banner_page_number {
  opacity: 0.8;
  position: relative;
  display: inline-block;
  background-color: white;
  right: 50px;
  top: 320px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 12.5px;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper main {
  float: clear;
  text-align: center;
}
#wrapper footer {
  margin: 5px 0px 5px 0px;
  text-align: center;
}
