* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "宋体";
}
li {
  list-style-type: none;
}
#wrapper {
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 6px 15px;
  min-width: 800px;
  box-shadow: 2px 2px 15px lightgray;
  border-radius: 7px;
}
#wrapper nav {
  background-color: rgb(248, 245, 245);
  margin-bottom: 15px;
  border-radius: 7px;
}
#wrapper nav ul {
  list-style-type: none;
  display: block;
}
#wrapper nav #useroptions {
  float: right;
  display: block;
  margin-top: -40px;
  background-color: rgb(248, 245, 245);
  border-radius: 7px;
  padding: 5px 0px;
}
#wrapper nav #useroptions a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 7px;
  color: black;
}
#wrapper nav #useroptions a:hover {
  background-color: lightgreen;
}
#wrapper nav ul li {
  display: inline-block;
  margin: 0px 5px 0px 0px;
  border-radius: 7px;
  width: 100px;
  text-align: center;
  line-height: 40px;
}

/* Level2 Menu */
#wrapper nav ul li > ul {
  display: none;
}
#wrapper nav ul li:hover > ul {
  display: block;
  position: absolute;
  padding-top: 3px;
  z-index: 30;
}
#wrapper nav ul li:hover > ul li {
  display: block;
  background-color: rgb(248, 245, 245);
  border-radius: 0;
}
#wrapper nav ul li:hover > ul li:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#wrapper nav ul li:hover > ul li:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#wrapper nav ul li:hover > ul li:hover {
  background-color: lightgreen;
}
#wrapper nav ul li a {
  text-decoration: none;
  display: block;
  color: black;
}
#wrapper nav ul li:hover {
  background-color: lightgreen;
}
#wrapper nav ul #nowpage > a {
  background-color: gray;
  display: block;
  color: white;
  border-radius: 7px;
}
#wrapper nav #ser {
  display: block;
  float: right;
}
#wrapper nav input[type="search"] {
  padding: 6px 5px;
  margin: 3px 0px;
  border: 1px solid gray;
  border-radius: 3px;
}
#wrapper nav input[type="search"]:focus,
#wrapper nav input[type="search"]:hover {
  border: 1px solid blue;
}
#wrapper nav input[type="submit"] {
  padding: 7px 10px 7px 10px;
  margin: 5px 5px 5px 2px;
  border-radius: 7px;
  border: 1px solid gray;
  color: black;
  transition: background-color 0.1s linear, color 0.1s linear;
}
#wrapper nav input[type="submit"]:hover {
  background-color: blue;
  color: white;
}

/* main */
#wrapper main {
  clear: both;
  text-align: center;
}
#wrapper main #item_block {
  width: 45%;
  height: auto;
  border: 2px solid rgb(248, 245, 245);
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 3px;
}
#wrapper main #item_block_name {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 10px;
  text-align: left;
}
#wrapper main #item_block img {
  width: 45%;
  margin: 3px;
  border-radius: 5px;
}
#wrapper main #item_block img:hover {
  opacity: 0.8;
}
#wrapper footer {
  margin: 5px 0px 5px 0px;
  text-align: center;
}

/* footer */
#wrapper #footer_nav {
  text-align: center;
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  margin: 30px 0 10px 0;
}
#wrapper #footer_nav > ul {
  width: 90%;
  text-align: left;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 50px;
}
#wrapper #footer_nav > ul > li {
  display: inline-block;
}
#wrapper #footer_nav > ul > li > ul :first-of-child {
  font-weight: bold;
}
#wrapper #footer_nav > ul > li > ul > li {
  line-height: 2em;
}
#wrapper #footer_nav > ul h2 {
  margin: 20px 0;
}
#wrapper #footer_nav a {
  text-decoration: none;
  color: #000;
}
#wrapper #footer_nav a:hover {
  color: blue;
  font-weight: bold;
}
