* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑", "宋体";
}
body {
  background-color: #ffffff;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.big_body {
  width: 1200px;
}
#wrapper {
  width: 70%;
  margin: 20px auto 20px auto;
  padding: 6px 15px;
  min-width: 800px;
  box-shadow: 2px 2px 15px lightgray;
  border-radius: 7px;
}
#header {
  height: 100px;
  width: 100%;
  margin: 0;
  background: #fff;
}
#header_inner {
  height: 120px;
  margin: 0 auto 0 auto;
}
#heart {
  height: 600px;
  margin: 0 auto;
}
#heart_inner {
  width: 100%;
  height: 550px;
  background: url("../image/log.jpg") no-repeat 0 0;
  background-size: cover;
  border-top: 1px solid transparent;
}
.log_reg {
  width: 350px;
  height: 400px;
  background: #fff;
  margin: 70px 70px 0 auto;
  border-top: 1px solid transparent;
}
#log {
  display: block;
}
#log_head {
  height: 50px;
  margin: 20px 0 0 30px;
  border-top: 1px solid transparent;
}
#log_inner {
  height: 200px;
  width: 320px;
  margin: 20px 0 0 30px;
}
.new_form_control {
  width: 240px;
  height: 45px;
}
#log_pwd {
  margin: 30px 0 0 0;
}
#btn_log {
  margin: 30px 0 0 0;
  width: 280px;
  height: 45px;
  color: #fff;
  background: #e03636;
}
#btn_log h4 {
  margin: 0;
}
#log_foot {
  float: right;
  margin: 15px 15px 0 auto;
}
#log_foot span {
  margin-left: 8px;
}
#reg {
  display: none;
}
#reg_head {
  height: 50px;
  margin: 20px 0 0 30px;
  border-top: 1px solid transparent;
}
#reg_inner {
  width: 320px;
  height: 200px;
  margin: 20px 0 0 30px;
}
#reg_verifyCode {
  margin: 30px 0 0 0;
}
.input-group-btn {
  width: auto;
}
.input_reg {
  width: 150px;
  height: 45px;
}
#btn_reg_getVerifyCode {
  height: 45px;
  width: 130px;
}
#btn_reg {
  margin: 30px 0 0 0;
  width: 280px;
  height: 45px;
  color: #fff;
  background: #e03636;
}
#btn_reg h4 {
  margin: 0;
}
#reg_foot {
  float: right;
  margin: 15px 15px 0 auto;
}
#wrapper footer {
  float: clear;
  margin: 5px 0px 5px 0px;
  text-align: center;
}
#op:hover {
  text-decoration: underline;
  color: blue;
}